.the-home-page{
    background-color: aliceblue;
}
.nav-bar{
    background-color: aqua;
    justify-content: space-around;
    display: flex;
    padding-top: 25px;
}
.facts-page{
    background-color: aquamarine;
}
.button{
    color:blue;
    background-color: antiquewhite;
}
.body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.center{

    align-self: center;
}
.galbord{
    border-radius: 20.0000001%;
    padding: 1%;;
    margin: 001%;
    background-color: aqua;
    border-color: cornflowerblue;
    font-weight: bold;
    font-size: x-large;
    height: 0.5%;
}
.link{
    color:black;
    background-color:azure
}
.titlepage{
    color:bisque;
    background-color: black;
}
.NPCs{
    color:black;
    background-color:beige;
}
.Roblox{
    color:black;
    background-color:beige;
}
.Fish{
    color:black;
    background-color:beige;
}
.Rods{
    color:black;
    background-color:beige;
}
.Baits{
    color:black;
    background-color:beige;
}