.home-page{
    background-color: aqua;
}
.button{
    color:blue;
    background-color: antiquewhite;
}
.link{
    color:black;
    background-color:azure
}
.titlepage{
    color:bisque;
    background-color: black;
}
.NPCs{
    color:black;
    background-color:beige;
}
.Roblox{
    color:black;
    background-color:beige;
}
.Fish{
    color:black;
    background-color:beige;
}
.Rods{
    color:black;
    background-color:beige;
}
.Baits{
    color:black;
    background-color:beige;
}